doctype html
html 
    head 
        title= title 
        block style 
        block scripts 
    body
        nav#navBar 
            ul 
                li#logo 
                    img(src="/public/m2.png", alt="")
                    span DRVL 
                li #[a(href="/") Home]
                li #[a(href="/") About] 
                li #[a(href="/") Contect Us] 
                li #[a(href="/") Classes] 
        block body 
        footer 
            |   CopyRights &copy reserved By Dipesh Raval