doctype html
html 
    head 
        title= title 
        style 
            include ../public/site.css
    body 
        nav#navBar 
            ul 
                li#logo 
                    img(src="/public/m2.png", alt="")
                    span DRVL 
                li #[a(href="/") Home]
                li #[a(href="/") About] 
                li #[a(href="/") Contect Us] 
                li #[a(href="/") Classes] 
            
        section#home 
            div #{headLine}
            div#small Eat,Dance,Sleep and Repeat 

        section#mission 
            h1 Our Mission
            .box 
                .card 
                    h3.center Arial Dance
                    .card-img 
                        img(src="/public/m1.jpg",).imgCard
                        p THis Dance is Famous in all india thats name is arial 
                    p.para Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo, doloribus.
                .card 
                    h3.center Jazz Dance
                    .card-img 
                        img(src="/public/m2.png").imgCard
                        p THis Dance is Famous sit, amet consectetur adipisicing elit. Esse cum expedita corrupti, dolore sit amet mollitia fugiat la
                    p.para Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo, doloribus.
                .card 
                    h3.center Contemporary Dance
                    .card-img 
                        img(src="/public/m4.png").imgCard
                        p THis Dance is Famous in all india thats name is arial
                    p.para Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo, doloribus.

        section#client 
            h1 Our Clients
            div.clientBox
                img(src="/public/c1.png", alt="").clientImg
                img(src="/public/c2.avif", alt="").clientImg
                img(src="/public/c3.webp", alt="").clientImg
                img(src="/public/c4.jpg", alt="").clientImg
        footer 
            |   CopyRights &copy reserved By Dipesh Raval
        